/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        copy {
            bindings = <&kp K_COPY>;
            key-positions = <26 27>;
        };

        paste {
            bindings = <&kp K_PASTE>;
            key-positions = <27 28>;
        };

        s_quote {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <3 2>;
        };

        d_quote {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <3 4 2>;
        };

        linux_word_bkspace {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <32 33>;
        };

        colon {
            bindings = <&kp COLON>;
            key-positions = <7 19>;
        };

        underscore {
            bindings = <&kp UNDERSCORE>;
            key-positions = <32 33 34>;
        };

        dash {
            bindings = <&kp KP_MINUS>;
            key-positions = <20 21 22>;
        };

        linux_word_del {
            bindings = <&kp LC(DELETE)>;
            key-positions = <31 32>;
        };

        reset_left {
            bindings = <&bootloader>;
            key-positions = <5 24>;
        };

        reset_right {
            bindings = <&bootloader>;
            key-positions = <6 35>;
        };

        at {
            bindings = <&kp AT>;
            key-positions = <4 5>;
        };

        exclam {
            bindings = <&kp EXCL>;
            key-positions = <5 17>;
        };

        equals {
            bindings = <&kp KP_EQUAL>;
            key-positions = <8 9>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <8 9 10>;
        };

        semicolon {
            bindings = <&kp SEMI>;
            key-positions = <6 18>;
        };

        question {
            bindings = <&kp QUESTION>;
            key-positions = <4 16>;
        };
    };

    behaviors {
        one_shot_shift: one_shot_shift {
            compatible = "zmk,behavior-sticky-key";
            label = "ONE_SHOT_SHIFT";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <1000>;
            quick-release;
        };

        shift_caps: shift_caps {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT_CAPS";
            bindings = <&caps_word>, <&one_shot_shift>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
        };

        space_control: space_control {
            compatible = "zmk,behavior-hold-tap";
            label = "SPACE_CONTROL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        text {
            display-name = "TEXT";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB      &kp Q  &kp W  &kp F  &kp P  &kp B                         &kp J                     &kp L  &kp U        &kp Y    &kp BACKSPACE  &kp DELETE
&kp LA(TAB)  &kp A  &kp R  &kp S  &kp T  &kp G                         &kp K                     &kp N  &kp E        &kp I    &kp O          &kp SQT
&kp LSHFT    &kp Z  &kp X  &kp C  &kp D  &kp V                         &kp M                     &kp H  &kp COMMA    &kp DOT  &kp FSLH       &kp ESC
                           &mo 3  &mo 1  &space_control LCTRL SPACE    &shift_caps 0 LEFT_SHIFT  &mo 2  &kp LA(TAB)
            >;
        };

        navigation {
            display-name = "NAV";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB     &none         &kp LS(LC(TAB))   &kp ESCAPE    &kp LC(TAB)       &none           &none    &kp K_VOLUME_DOWN     &kp UP_ARROW  &kp K_VOLUME_UP       &none  &none
&bt BT_CLR  &bt BT_SEL 0  &kp LEFT          &kp LEFT_ALT  &kp TAB           &bt BT_SEL 4    &none    &kp LEFT              &kp DOWN      &kp RIGHT             &none  &none
&kp LSHFT   &none         &kp LEFT_CONTROL  &kp LSHIFT    &kp LEFT_COMMAND  &none           &none    &kp C_BRIGHTNESS_DEC  &none         &kp C_BRIGHTNESS_INC  &none  &none
                                            &kp LGUI      &none             &kp SPACE       &kp RET  &none                 &kp RALT
            >;
        };

        symbols {
            display-name = "SYM";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp GRAVE     &kp LEFT_BRACE        &kp ASTRK      &kp RIGHT_BRACE        &kp RPAR  &kp BSPC
&kp LCTRL  &none     &none   &none     &none     &none        &kp KP_EQUAL  &kp LEFT_PARENTHESIS  &kp ENTER      &kp RIGHT_PARENTHESIS  &kp BSLH  &kp GRAVE
&kp LSHFT  &none     &none   &none     &none     &none        &kp PLUS      &kp LEFT_BRACKET      &kp LS(ENTER)  &kp RIGHT_BRACKET      &kp PIPE  &kp TILDE
                             &kp LGUI  &none     &kp SPACE    &kp RET       &none                 &kp RALT
            >;
        };

        numbers {
            bindings = <
&none  &none  &kp N6  &kp N7  &kp N8  &none     &none  &none  &none  &none  &none  &none
&none  &none  &kp N1  &kp N0  &kp N2  &kp N9    &none  &none  &none  &none  &none  &none
&none  &none  &kp N3  &kp N4  &kp N5  &none     &none  &none  &none  &none  &none  &none
                      &none   &none   &none     &none  &none  &none
            >;

            label = "NUM";
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
